html{min-width: 320px;}
body {margin:0; padding:0; font:12px"\5B8B\4F53",sans-serif;background:#ffffff;font-family:黑体;background: white;min-width: 320px;max-width: 640px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
button{font-family:黑体;}
a{text-decoration: none;}
html
{
	height: 100%;
	width: 100%;
}
body{
	width: 100%;
	height: 100%;
	background:  rgb(23,27,30);
	background-size: 100% auto;
	position: absolute;

}

.head
{
	width: 100%;
	height: intrinsic;
	background: url(../images/top.png);
	background-size: 100% auto;
	position: relative;
	padding: .1rem 0;
	text-align: center;
}
.head img
{
	width: .5rem;
	height: .5rem;
	border-radius: .5rem;
	border: 1px solid whitesmoke;
	margin: .2rem auto .1rem auto;
}
.username
{

	line-height: .25rem;
	font-size: .15rem;
	color: white;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.yue
{

	display: block;
	line-height: .25rem;
	font-size: .11rem;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:goldenrod;
	text-align: center;
}
/*四个button*/
.buttonn
{
	margin:0 ;
	overflow:hidden;/*加上它，即可*/
	width: 100%;
	text-align: center;
	/*background: url(../images/status_barblak.png);*/
	background:#282828 !important;
	background-size: 100% 100%;
	z-index: 9;
	/*border-top: 1px rgba(0,0,0,0.1) solid;*/
	display: flex;
	flex-direction:row;
	width: 100%;
	text-align: center;
	padding: .08rem 0;
}
.buttonn div:nth-child(1)
{flex: 1;
	border-right: 1px solid #171717;
}
.buttonn div:nth-child(2)
{flex: 1;
	border-right: 1px solid #171717;
	border-left: 1px solid #404040;
}
.buttonn div:nth-child(3)
{flex: 1;     border-right: 1px solid #171717;
	border-left: 1px solid #404040;
}
.buttonn div:nth-child(4)
{flex: 1;border-left: 1px solid #404040;}
.cloimg
{
	height: .24rem;
	margin-top:.02rem;
}
.clotitle
{
	display: block;
	text-align: center;
	line-height: .16rem;
	font-size: .09rem;
	text-decoration: none;
	font-weight: normal;
	text-shadow: none;
	color:gainsboro;
	margin-top:.04rem;

}
.czli
{
	height: .2rem;
	width: 3rem;
	margin: 0 auto;
	padding: .14rem 0;
	position: relative;
	border-bottom: solid 1px rgba(255,255,255,.02);
}
.icon{
	width: .2rem;
}
.planname
{
	margin-left: .03rem;
	line-height: .2rem;
	color: #B7B7B7;
	font-size: .12rem;
}
.gogo
{
	position: absolute;
	right: .05rem;
	top: .18rem;
	height: .14rem;
	color: hotpink;
}
.forever{
	position: relative;
	z-index: 5;
	width: 100%;
	margin: .1rem 0;
	text-align: center;
}
.code{
	width: 40%;
}
.forever p{
	line-height: .4rem;
	font-size: .13rem;
}
.copy{
	position: absolute;
	right: .05rem;
	padding: .0rem .1rem;
	margin: 0rem auto;
	color: white;
	background: url(../images/indexbtn2.png);
	background-size: 100% 100%;
	text-align: center;
	font-size: .1rem;
	line-height: .24rem;
	display: inline-block;
}

/*场外交易效果*/

.redout {
	width:100%;
	height:100%;
	max-width: 640px;
	background:white ;
	background-size: 100% auto;
	position:fixed;
	top: 120%;
	*zoom:1;
	z-index:5000;
	visibility:visible;
}
.out
{
	width: 100%;
	margin: 0 auto;
	text-align: left;
	padding: 10px 0;
	border-bottom:1px solid whitesmoke;
	background: white;
	text-align: center;
}
.outtitle
{
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	color: limegreen;
	margin-left: 10px;
	text-align: right;
}
.id
{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 15px 0;
	background: white;
	height: 20px;
}
.user{
	margin-left: 10px;
	font-size: 13px;
	line-height: 20px;
}

.cover{
	width: 60%;
	display: block;
	margin: 20px auto 0px auto;
}
.note{
	margin: 0 auto;
	width: 80%;
	font-size: 13px;
	color: orangered;
	line-height: 18px;
}
.close{
	width: .3rem;
	margin-top: .15rem;
	border: 1px darkgray solid;
	border-radius: 1rem;
}
.paynow
{
	width: 80%;
	margin: .1rem auto;
	display: block;
	text-align: center;
	line-height: .4rem;
	color: white;
	font-size:.16rem;
	background: limegreen;
	border-radius: .02rem;
	box-shadow: 0px 16px 47px -15px black;
	-webkit-animation: pointRadius 1s ease 0s infinite;
	animation: pointRadius 1s ease 0s infinite;
}

/*修改*/
.tanchuang {
	width:100%;
	height:100%;
	max-width: 640px;
	background-color: rgba(0,0,0,0.5) ;
	background-size: 100% auto;
	position:fixed;
	top: 0;
	*zoom:1;
	z-index:1303;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	visibility:hidden;
}
.closeit{

	height: .3rem;
	position: absolute;
	right: -.15rem;
	top: -.15rem;
	-webkit-animation: touchit 1s ease 0s infinite;
	animation: touchit 1s ease 0s infinite;
	z-index: 20;
	background: #263041;
	border-radius: .4rem;
}

.inner {
	width:80%;
	position: relative;
	height:auto;
	border-radius: .03rem;
	background: white;
	padding: .15rem .1rem;
}
.yaoyao {
	font-size:.13rem;
	width:90%;
	line-height: .22rem;
	height:auto;
	margin:.05rem auto 0 auto;
	color:black;
	text-align:left;
}
.yaoyao span{
	font-size: .13rem;
	font-weight: bold;
	color: orangered;
}
.name {
	width: 90%;
	height: .3rem;
	margin: .2rem 5%;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}
.input_class1 {
	width: 90%;
	height: .34rem;
	line-height: .34rem;
	font-size: .12rem;
	text-align: left;
	background: none;
	border: none;
	color: goldenrod;
	padding: 0 .1rem;
}
.gochange
{
	display: block;
	width: 90%;
	text-align: center;
	color:white;
	margin: .1rem auto;
	line-height: .34rem;
	font-size: .14rem;
	background: cornflowerblue;
	border-radius: .02rem;
	color: #fff;
	background: #263041;
	-webkit-box-shadow: 0 -4px 0 0 rgba(0,0,0,.3) inset;
	box-shadow: inset 0 -4px 0 0 rgba(0,0,0,.3);
	padding-bottom: 4px;
}

